In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('supermarket_sales.csv')
df.head(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [8]:
df.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [9]:
categorical = [col for col in df.columns if df[col].dtype == 'object']
categorical

['Invoice ID',
 'Branch',
 'City',
 'Customer type',
 'Gender',
 'Product line',
 'Date',
 'Time',
 'Payment']

In [10]:
print(f"Rating mean = {df['Rating'].mean()}")
print(f"Rating mode = {df['Rating'].mode()[0]}")
print(f"Rating median = {df['Rating'].median()}")
print(f"Rating max = {df['Rating'].max()}")
print(f"Rating min = {df['Rating'].min()}")
print(f"Rating standard deviation = {df['Rating'].std()}")

Rating mean = 6.9727
Rating mode = 6.0
Rating median = 7.0
Rating max = 10.0
Rating min = 4.0
Rating standard deviation = 1.718580294379123

In [11]:
df.groupby('Branch')['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

In [12]:
df.groupby('Branch')['gross income'].mean()

Branch
A    14.874001
B    15.232024
C    16.052367
Name: gross income, dtype: float64

In [13]:
df.groupby('Payment')['gross income'].mean()

Payment
Cash           15.532471
Credit card    15.429042
Ewallet        15.181933
Name: gross income, dtype: float64

In [14]:
df.groupby('Branch').count()

,Invoice ID,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
Branch,,,,,,,,,,,,,,,,
A,340,340,340,340,340,340,340,340,340,340,340,340,340,340,340,340
B,332,332,332,332,332,332,332,332,332,332,332,332,332,332,332,332
C,328,328,328,328,328,328,328,328,328,328,328,328,328,328,328,328

In [15]:
df.groupby('Gender')['Rating'].mean()

Gender
Female    6.964471
Male      6.980962
Name: Rating, dtype: float64

In [16]:
df.groupby('Gender')['Quantity'].mean()

Gender
Female    5.726547
Male      5.292585
Name: Quantity, dtype: float64

In [17]:
df.groupby('Payment')['gross income'].sum()

Payment
Cash           5343.170
Credit card    4798.432
Ewallet        5237.767
Name: gross income, dtype: float64

In [18]:
df.groupby('Branch')['Payment'].agg(pd.Series.mode)

Branch
A    Ewallet
B    Ewallet
C       Cash
Name: Payment, dtype: object

In [19]:
df.groupby(['Gender', 'Product line'])['Total'].mean()

Gender  Product line
Female  Electronic accessories    322.643125
        Fashion accessories       317.056250
        Food and beverages        368.565750
        Health and beauty         290.015414
        Home and lifestyle        380.213639
        Sports and travel         324.712739
Male    Electronic accessories    316.691965
        Fashion accessories       291.079207
        Food and beverages        273.499125
        Health and beauty         348.099460
        Home and lifestyle        294.136241
        Sports and travel         340.360327
Name: Total, dtype: float64

In [28]:
df = pd.read_csv('Iris1.csv')
df.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [29]:
print('Iris-Setosa')
setosa = (df['Species'] == 'Iris-setosa')
print(df[setosa].describe())

print('Iris-Versicolor')
versicolor = (df['Species'] == 'Iris-versicolor')
print(df[versicolor].describe())

print('Iris-Virginica')
virginica = (df['Species'] == 'Iris-virginica')
print(df[virginica].describe())

Iris-Setosa
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000
Iris-Versicolor
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000
Iris-Virginica
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000

In [30]:
setosa.head()

0    True
1    True
2    True
3    True
4    True
Name: Species, dtype: bool